﻿@using JLTMEntProj.Models
@model ShoppingCart

@{
    ViewBag.Title = "Checkout";
}

<h2>Checkout</h2>

<p style="text-align:center">
    <strong>
        @Html.ActionLink("Edit Shopping Cart", "ViewCart")
    </strong>
</p>

<table class="table">
    <tr>
        <th>
            Item
        </th>

        <th>
            Subtotal
        </th>
    </tr>

    @foreach (var item in Model.OrderList)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity) x @Html.DisplayFor(modelItem => item.Product.Name) @@ @Html.DisplayFor(modelItem => item.Product.Price) ea.
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Subtotal)
            </td>
        </tr>
    }

    <tr>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td></td>
        <td>
            <strong>
                Subtotal: @Model.OrderSubtotal().ToString("c")
            </strong>
        </td>
    </tr>

    <tr>
        <td></td>
        <td>
            <strong>
                Tax @@ 13%: @Model.OrderTaxAmount().ToString("c")
            </strong>
        </td>
    </tr>

    <tr>
        <td></td>
        <td>
            <strong>
                Total: @Model.OrderTotal().ToString("c")
            </strong>
        </td>
    </tr>

    <tr>
        <td>
            <strong>
                @Html.ActionLink("Edit Shopping Cart", "ViewCart")
            </strong>
        </td>
        <td>
            <strong>
                @Html.ActionLink("Payment Options", "PaymentOptions")
            </strong>
        </td>

    </tr>
</table>