﻿@using JLTMEntProj.Models
@model ShoppingCart

@{
    ViewBag.Title = "Pay";
}

<h2>Checkout</h2>

<table class="table">
    <tr>
        <th>
            
        </th>

        <th>
            <strong>
                Total: @Model.OrderTotal().ToString("c")
            </strong>
        </th>
    </tr>

    <tr>
        <td>
            Credit Card Number:
        </td>

        <td>
            CSC:
        </td>
    </tr>

    <tr>
        <td>
            <strong>
                
            </strong>
        </td>
        <td>
            <strong>
                @Html.ActionLink("Pay", "Paid")
            </strong>
        </td>

    </tr>
</table>