﻿@model IEnumerable<JLTMEntProj.Models.Product>

@{
    ViewBag.Title = "Shop";
}

<h2>Shop</h2>

@using (Html.BeginForm())
{
    <p>
        Find by name/description: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Name", "Index", new { sortOrder = "name" })
        </th>
        <th>
            @Html.ActionLink("Description", "Index", new { sortOrder = "desc" })
        </th>
        <th>
            @Html.ActionLink("Stock Left", "Index", new { sortOrder = "quan" })
        </th>
        <th>
            @Html.ActionLink("Price", "Index", new { sortOrder = "price" })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Add to Cart", "AddToCart", new { productId = item.ProductId })
            @Html.Hidden("ProductID", item.ProductId)
        </td>
    </tr>
}

</table>
