﻿@using JLTMEntProj.Models
@model ShoppingCart

@{
    ViewBag.Title = "ViewCart";
}

<h2>Shopping Cart</h2>

<p style="text-align:center">
    <strong>
        @Html.ActionLink("Continue Shopping", "Shop") | @Html.ActionLink("Proceed to Checkout", "ProceedToCheckout")
    </strong>
</p>

<table class="table">
    <tr>
        <th>
            Quantity
        </th>

        <th>
            Item
        </th>

        <th>
            Price
        </th>

        <th>
            Subtotal
        </th>

        <th>

        </th>
    </tr>

    @foreach (var item in Model.OrderList)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Product.Price)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Subtotal)
            </td>

            <td>
                @Html.ActionLink("Remove from cart", "RemoveFromCart", new { productId = item.Product.ProductId })
                @Html.Hidden("ProductID", item.Product.ProductId)
            </td>
        </tr>
    }

    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <strong>
                Subtotal: @Model.OrderSubtotal().ToString("c")
            </strong>
        </td>
        <td>
            <strong>
                Total: @Model.OrderTotal().ToString("c")
            </strong>
        </td>
    </tr>

    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <strong>
                @Html.ActionLink("Continue Shopping", "Shop")
            </strong>
        </td>
        <td>
            <strong>
                @Html.ActionLink("Proceed to Checkout", "ProceedToCheckout")
            </strong>
        </td>
        
    </tr>
</table>