﻿@{
    ViewBag.Title = "About Scrumptious";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>We are an electronic commerce (E-commerce) company called “Scrumptious” which will be
established to deliver fast, reliable, efficient online shopping. Scrumptious will focus on providing
an easy method for people to be able to purchase products from a large variety of names through
an easy portal of our site. We also give people the opportunity to order items when they are
unable to travel out to purchase it themselves, or the audacity to be able to buy certain products.
Scrumptious allows people to search for anything virtually and buy them online.</p>
