﻿@{
    ViewBag.Title = "Contact us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Sheridan College<br />
    1430 Trafalgar Rd, Oakville, ON L6H 2L1<br />
    <abbr title="Phone">P:</abbr>
    905.845.9430
</address>

<address>
    <strong>Jordan Larock:</strong>   <a href="mailto:Support@example.com">jordan@larock.ca</a><br />
    <strong>Tuan Mai:</strong> <a href="mailto:Marketing@example.com">tuandinhmai@gmail.com</a>
</address>