﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SCRUMPTIOUS</h1>
    <p class="lead">Scrumptious is the next leading electronic commerce (E-commerce) company.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to the application...</h2>
        <p>
            Jordan Larock, Tuan Mai - 2016
        </p>
    </div>
</div>